@tailwind base;
@tailwind components;
@tailwind utilities;

.text-wrap {
    overflow-wrap: break-word; /* Break long words */
    word-break: break-all; /* Break all words */
    white-space: normal; /* Allow wrapping */
    max-width: 100%; /* Prevent overflowing */
  }

  /* Custom scrollbar styles */
/* ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
   */